---
import Layout from '../components/layout.astro';
---

<Layout
  title="Deploy Previews"
  description="See and share your changes in a production environment so you can ship with confidence. Gather feedback in your preferred project management tool right through your Deploy Previews!"
>
  <main>
    <h2>Try out Deploy Previews.</h2>
    <h2>Try.</h2>
    <h2>Try out Deploy Previews.</h2>
    <h2>Try.</h2>
    <h2>Try out Deploy Previews.</h2>
    <h2>Try.</h2>
    <h2>Try out Deploy Previews.</h2>
    <h2>Try.</h2>
    
  </main>
</Layout>
